@font-face {
    font-family: 'psl_kandaregular';
    src: url('../fonts/psl152-webfont.eot');
    src: url('../fonts/psl152-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/psl152-webfont.woff') format('woff'),
         url('../fonts/psl152-webfont.ttf') format('truetype'),
         url('../fonts/psl152-webfont.svg#psl_kandaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'psl_kandabold';
    src: url('../fonts/psl153-webfont.eot');
    src: url('../fonts/psl153-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/psl153-webfont.woff') format('woff'),
         url('../fonts/psl153-webfont.ttf') format('truetype'),
         url('../fonts/psl153-webfont.svg#psl_kandabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'psl_kandaitalic';
    src: url('../fonts/psl154-webfont.eot');
    src: url('../fonts/psl154-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/psl154-webfont.woff') format('woff'),
         url('../fonts/psl154-webfont.ttf') format('truetype'),
         url('../fonts/psl154-webfont.svg#psl_kandaitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'psl_kandabold_italic';
    src: url('../fonts/psl155-webfont.eot');
    src: url('../fonts/psl155-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/psl155-webfont.woff') format('woff'),
         url('../fonts/psl155-webfont.ttf') format('truetype'),
         url('../fonts/psl155-webfont.svg#psl_kandabold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DBFuthairaHeadXMedCond';
    src: url('../fonts/db_futhaira_head_x_med_cond_v3.2-webfont.eot');
    src: url('../fonts/db_futhaira_head_x_med_cond_v3.2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/db_futhaira_head_x_med_cond_v3.2-webfont.woff') format('woff'),
         url('../fonts/db_futhaira_head_x_med_cond_v3.2-webfont.ttf') format('truetype'),
         url('../fonts/db_futhaira_head_x_med_cond_v3.2-webfont.svg#DBFuthairaHeadXMedCond') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	min-width: 1000px;
	margin: 0;
	padding: 0;
	font-family: psl_kandaregular, DBFuthairaHeadXMedCond, san-serif;
	font-size: 20px;
	font-weight: normal;
	text-shadow: none;
	color: #222;
	background-image: url( '../images/admin_bg.png' );
	background-repeat: repeat-y;
}

/************************************************
 *
 * layout
 *
 ***********************************************/

nav {
	float: left;
	width: 280px;
	color: white;
	background-color: #7E725E;
	font-family: tahoma, san-serif;
	font-size: 75%;
}

div#page {
	padding-left: 280px;
}

header {
	position: relative;
	width: 100%;
}

div#content {
	overflow: auto;
	min-height: 1312px;
	padding-left: 20px;
	padding-right: 40px;
	font-family: tahoma, san-serif;
	font-size: 80%;
	line-height: 36px;
}

footer {
	height: 20px;
	background-color: #564E43;
}

/************************************************
 *
 * style
 *
 ***********************************************/

nav div#menu_header {
	height: 150px;
	line-height: 150px;
	text-align: center;
	color: #7E725E;
	background-color: #EFE0C3;
}

nav div#menu_header img {
	margin: 0 auto;
	vertical-align: middle;
}

nav div#menu_footer {
	padding: 20px 0 30px 15px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 120%;
}

nav ul li span {
	display: block;
	border-left: 4px solid #EA5340;
	border-bottom: 2px solid white;
	padding: 7px 0 8px 15px;
	background-color: #564E43;
	font-weight: normal;
}

nav ul li ul li a {
	display: block;
	border-bottom: 2px solid white;
	padding: 7px 0 7px 15px;
	color: white;
	font-size: 83%;
	font-weight: lighter;
	text-decoration: none;
}

nav ul li ul li a:hover {
	color: #18090B;
	background-color: #EFE0C3;
}

nav ul li ul li a.active_menu {
	font-weight: bold;
}

/************************************************
 *
 *  header
 *
 ***********************************************/
header div {
	border-bottom: 1px solid #ddd;
}

header div.header_first_row {
	height: 50px;
}

header div.header_second_row {
	height: 25px;
	padding-right: 10px;
	line-height: 25px;
	text-align: right;
	color: #564E43;
	background-color: #fcfcfc;
}

header span {
	position: relative;
	display: inline-block;
	line-height: 50px;
}

header span img {
    margin: 0 auto;
	vertical-align: middle;
}

header span a {
	display: block;
	color: #666;
	text-decoration: none;
}

header span a:hover {
	background-color: #ddd;
}

header span.language {
	width: 150px;
}

header span.language a {
	padding-left: 10px;
}

header span.url {
	float: right;
	padding-right: 20px;
	font-size: 140%;
}

header span.welcome {
	float: right;
	width: 230px;
	border-left: 1px solid #ddd;
	padding-left: 25px;
	line-height: 25px;
}

header span.power {
	float: right;
	width: 60px;
	border-left: 1px solid #ddd;
	text-align: center;
}

/************************************************
 *
 *  content
 *
 ***********************************************/
div#content h1 {
	margin: 20px 0 15px 0;
	font-size: 150%;
	font-weight: bold;
	color: #EA5340;
}

div#content h2 {
	margin: 20px 0 15px 0;
	font-size: 130%;
	font-weight: bold;
	color: #EA5340;
}

div#content h2.red {
	font-weight: bold !important;
	color: #EA5340 !important;
}

div#content div.box h2 {
	font-size: 100%;
	font-weight: normal;
	color: #333;
}

div#content div.box {
	float: left;
	overflow: auto;
	margin-bottom: 20px;
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 10px 20px 10px 20px;
}

div#content div.noborder {
	border: 0 !important;
}

div#content table {
	width: 100%;
	margin-top: 20px;
}

div#content table.user th {
	text-align: left;
}

div#content table th {
	border-bottom: 2px dotted #ddd;
	font-size: 75%;
	font-style: italic;
}

div#content table td {
	font-size: 86%;
	border-bottom: 1px solid #ddd;
	padding: 0;
}

div#content table td.no {
	text-align: right;
}

div#content a.icon {
	display: inline-block;
	width: 110px;
	height: 80px;
	margin: 10px 10px 0 0;
	border: 1px solid #ddd;
	border-radius: 3px;
    padding: 10px 0 0 0;
	text-align: center;
	font-size: 80%;
	text-decoration: none;
	color: #333;
}

div#content a.icon:hover {
	background-color: #eee;
}

div#content a.icon img {
    width: 30px;
    opacity: 0.8;
}

div#content a.button {
	display: inline-block;
	padding: 0px 20px;
	border: 1px solid red;
	border-radius: 5px;
	color: white;
	background-color: #EA5340;
	text-decoration: none;
	font-size: 80%;
}

div#content a.button:hover {
	border: 1px solid #9B2E23;
	background-color: #970E08;
}

div#content a.tag {
	display: inline-block;
	padding: 2px 20px 2px 2px;
	text-decoration: none;
	color: #333;
}

div#content a.tag:hover {
	text-decoration: underline;
}

div#content span.result {
	color: #008000;
}

div#content input[type=file] {
	width: 500px;
	height: 36px;
	background-color: #EEE9E3;
}

div#content input[type=text] {
	width: 100%;
	height: 36px;
	padding-left: 10px;
	color: #333;
	background-color: #F0ECED;
	font-family: tahoma, san-serif;
	font-size: 90%;
}

div#content input[type=text].title {
	/*font-family: psl_kandaregular, DBFuthairaHeadXMedCond, san-serif;*/
	font-size: 100%;
}

div#content input[type=password] {
	height: 36px;
	padding-left: 10px;
	color: #666;
	background-color: #F0ECED;
	font-family: tahoma, san-serif;
	font-size: 70%;
}

div#content textarea {
	width: 100%;
	height: 80px;
}

div#content span.red_text {
	color: red;
}

div#content span.filename {
	color: #333;
	font-size: 110%;
	font-weight: bold;
}

div#content b {
	font-weight: 700;
}

div#content label.error {
	color: red;
}

div#content div.save_cancel {
	clear: both;
	margin-top: 15px;
	text-align: center;
}


/************************************************
 *
 *  one-line list
 *
 ***********************************************/
div#content ul.oneline {
	list-style-type: none;
	margin: 0;
	border: 1px solid #ccc;
	padding: 0;
	width: 100%;
	min-width: 900px;
}

div#content ul.oneline li {
	overflow: auto;
	margin: 0;
	border: none;
	border-bottom: 1px solid #ddd;
	padding: 0.4em;
	padding-left: 0.5em;
	line-height: 22px;
	background: none;
	color: #333;
}

div#content ul.oneline li:nth-child(even) {
	background-color: #F9F9F9;
}

div#content ul.oneline li:nth-child(odd) {
	background-color: #fff;
}

div#content ul.oneline li a.title {
	float: left;
	display: block;
	overflow: hidden;
	width: 80%;
	color: #666;
	font-weight: bold;
	text-decoration: none;
}

div#content ul.oneline a.title:hover {
	text-decoration: underline;
}

div#content ul.oneline li a.button {
	padding: 0 10px;
}

div#content ul.oneline li a.button:hover {
	text-decoration: none;
}

div#content ul.oneline li div.left_align {
	float: left;
}

div#content ul.oneline li div.right_align {
	float: right;
}

div#content ul.oneline li div.pad {
	padding: 0 5px;
}


/************************************************
 *
 *  sortable list
 *
 ***********************************************/
div#content ul#sortable, div#content ul#sortable2, div#content ul#sortable3 {
	list-style-type: none;
	margin: 0;
	border: 1px solid #ccc;
	padding: 0;
	width: 100%;
	min-width: 950px;
}

div#content ul#sortable li, div#content ul#sortable2 li, div#content ul#sortable3 li {
	position: relative;
	margin: 0;
	border: none;
	border-bottom: 1px solid #ddd;
	padding: 0.4em;
	padding-left: 0.6em;
	height: 44px;
	line-height: 22px;
	background: none;
	color: #7F725F;
}

div#content ul#sortable li:nth-child(even), div#content ul#sortable2 li:nth-child(even), 
        div#content ul#sortable3 li:nth-child(even) {
	background-color: #F9F9F9 !important;
}

div#content ul#sortable li:nth-child(odd), div#content ul#sortable2 li:nth-child(odd) 
        div#content ul#sortable3 li:nth-child(even) {
	background-color: #fff !important;
}

div#content ul#sortable li a.title, div#content ul#sortable2 li a.title,
        div#content ul#sortable3 li a.title {
	float: left;
	display: block;
	overflow: hidden;
	width: 500px;
	height: 44px;
	padding-left: 0.4em;
	font-weight: bold;
	font-size: 90%;
	color: #444;
}

div#content ul#sortable li input:disabled {
	float: left;
	padding: 0;
}

div#content ul#sortable li a:hover, div#content ul#sortable2 li a:hover, 
         div#content ul#sortable3 li a:hover {
	text-decoration: underline;
}

div#content ul#sortable li a.button, div#content ul#sortable2 li a.button,
         div#content ul#sortable3 li a.button {
	padding: 0 10px;
}

div#content ul#sortable li a.button:hover, div#content ul#sortable2 li a.button:hover, 
        div#content ul#sortable3 li a.button:hover {
	text-decoration: none;
}

div#content ul#sortable li span.ui-icon, div#content ul#sortable2 li span.ui-icon, 
        ul#sortable3 li span.ui-icon {
	position: absolute;
	margin-left: -0.6em;
}

div#content ul#sortable li div.left_align {
	float: left;
}

div#content ul#sortable li div.text_center {
    text-align: center;
}

div#content ul#sortable li div.right_align, div#content ul#sortable2 li div.right_align, 
        div#content ul#sortable3 li div.right_align {
	float: right;
}

div#content ul#sortable li div.pad {
	padding: 0 5px;
}

div#content ul#sortable li div:hover {
	cursor: pointer;
}

div#content ul#sortable label span {
	padding: 0.2em 0.5em !important;
	font-size: 90% !important;
}

div#content label.ui-state-active {
	background-image: none;
	color: #fff;
	background-color: #00c000;	
}

div#content label.ui-state-active.lock {
	background-image: none;
	color: #fff;
	background-color: #ffd700;
}

div#content div.radio label.on {
	background-color: #00c000;
}

div#content div.radio label.off {
	background-color: #c00000;
}

div#content div.checkbox label[aria-pressed=true] span {
	background-color: #00c000;
}

div#content div.checkbox label.lock[aria-pressed=true] span {
	background-color: #ffd700;
}

/************************************************
 *
 *  sortable box
 *
 ***********************************************/
div#content ul#sortable_box {
	overflow: auto;
	width: 785px;
	margin: 0;
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 10px;
	list-style-type: none;
}

div#content ul#sortable_box li {
	overflow: hidden;
	position: relative;
	float: left;
	width: 148px;
	height: 168px;
	margin: 2px 3px 3px 2px;
	border-radius: 4px;
	padding: 1px;
	font-size: 1em;
	text-align: center;
	cursor: move;
}

div#content ul#sortable_box li span.box {
	overflow: hidden;
	position: absolute;
	width: 90%;
	height: 18px;
	border: 1px solid #ddd;
	line-height: 18px;
	font-size: 80%;
	background-color: #f7f7f7;
	cursor: pointer;
}

div#content ul#sortable_box li span.name {
	left: 5px;
	bottom: 25px;
}

div#content ul#sortable_box li span.description {
	left: 5px;
	bottom: 5px;
}

/************************************************
 *
 *  dialog
 *
 ***********************************************/
.ui-widget {
	font-size: 80% !important;
}

.ui-dialog .ui-dialog-title {
	overflow: visible !important;
}

div#dialog_form {
	overflow: hidden;
}

div#dialog_form input, div#dialog_form textarea {
	width: 100%;
	font-size: 90%;
	color: #666;
}

/************************************************
 *
 *  checkbox_box
 *
 ***********************************************/
div#content div#checkbox_box {
	width: 300px;
	border: 1px solid #999;
	padding: 5px;
	font-size: 100%;
	line-height: 100%;
}

div#content div#checkbox_box label {
	width: 100%;
	text-align: left;
}

div#content div#checkbox_box label.ui-state-active {
	background-color: #00c000;
	background-image: none;
	color: #fff;
}

/************************************************
 *
 *  select
 *
 ***********************************************/
div#content select {
	/*min-width: 350px;*/
}

div#content span.ui-selectmenu-button {
    margin-top: 2px;
}

div#content span.ui-selectmenu-text {
    padding-top: 2px;
    padding-bottom: 2px;
	font-size: 90%;
}

/************************************************
 *
 *  pagination
 *
 ***********************************************/
div#content div.pagination {
    overflow: auto;
	text-align: center;
}

div#content div.pagination span.per_page {
    float: left;
}

div#content div.pagination span.summary {
    float: right;
}

div#content div.pagination a {
	display: inline-block;
	border: 0px;
	border-radius: 4px;
	padding: 0 10px;
	text-decoration: none;
	background-color: #EA5340;
	color: white;
}

div#content div.pagination a:hover {
	background-color: #970E08;
}

div#content div.pagination strong {
	display: inline-block;
	border: 1px solid #999;
	border-radius: 4px;
	padding: 0 10px;
	font-weight: 800;
	color: #008000;
}

div#content div.pagination span.per_page select {
	min-width: 0;
}

/************************************************
 *
 *  pagination
 *
 ***********************************************/
div#content div.all_op a {
    font-size: 80%;
    color: grey;
    text-decoration: none;
}

div#content div.all_op a:hover {
    color: #2C3539;
    text-decoration: underline;
}