body {
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-size: 16px; }
  body div.ui-page {
    background-color: #7E725E;
    text-shadow: none !important; }
    body div.ui-page div.ui-content {
      padding: 0; }
  body.article_description, div#article {
    width: 1050px;
    margin: auto;
    background-color: #EEDEC3;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-weight: normal; }
    body.article_description a, div#article a {
      color: #800000;
      font-style: italic;
      text-decoration: none; }
      body.article_description a:hover, div#article a:hover {
        color: #0a75e1; }
    body.article_description p, div#article p {
      margin: 7px 0 21px 0;
      font-family: Tahoma, Arial, Helvetica, sans-serif;
      font-size: 90%;
      color: #000 !important; }
    body.article_description h1, div#article h1 {
      margin: 20px 0;
      background-color: #DFC090;
      text-align: center;
      font-family: Arial, sans-serif;
      font-size: 175%;
      color: #800000;
      font-weight: normal;
      letter-spacing: 1px;
      padding: 5px 20px; }
    body.article_description h2, div#article h2 {
      display: inline-block;
      color: #800000;
      font-weight: bold;
      font-size: 150%; }
  body.footer, footer {
    padding-top: 3%;
    padding-bottom: 1.5%;
    line-height: 17px;
    text-align: center;
    text-shadow: none;
    font-size: 80%;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    color: #ffffff;
    background-color: #7E725E; }
    body.footer a, footer a {
      text-decoration: none;
      font-weight: normal !important;
      color: #A8AFBD !important; }
      body.footer a:active, footer a:active, body.footer a:hover, footer a:hover, body.footer a:focus, footer a:focus {
        color: #fff !important; }
    body.footer > div, footer > div {
      margin: auto;
      width: 90%; }
  body.popover_description, body div.map_popover {
    max-width: 600px;
    margin: auto;
    font-family: sans-serif;
    font-size: 75%;
    color: #000;
    background-color: #fff;
    line-height: 16px; }
    body.popover_description a, body div.map_popover a {
      color: #00f; }
      body.popover_description a.readmore, body div.map_popover a.readmore {
        float: right; }

header {
  text-align: center; }
  header img {
    height: auto; }

nav a.ui-link {
  vertical-align: top;
  text-decoration: none;
  color: #fff; }
  nav a.ui-link:visited {
    color: #fff; }
  nav a.ui-link:hover, nav a.ui-link:active, nav a.ui-link:focus {
    color: #39f !important; }

nav.nav1600 {
  width: 1200px;
  overflow: auto;
  margin: auto;
  padding-top: 5px; }
  nav.nav1600 ul {
    list-style: none;
    margin: 0;
    padding-left: 20px; }
    nav.nav1600 ul li {
      float: left;
      height: 30px;
      padding: 0 22px; }
      nav.nav1600 ul li div.ui-input-text {
        margin: 0;
        border: 0;
        background-color: transparent !important; }
  nav.nav1600 input#text-search {
    position: relative;
    height: 23px;
    margin-top: -5px;
    border: 0 none #000000;
    border-radius: 10px;
    padding: 2px 9px;
    background: none repeat scroll 0 0 #7E725E;
    text-align: center;
    text-shadow: none;
    font-size: 85%;
    color: #FFFFFF;
    -webkit-box-shadow: inset 0 2px 4px #eee;
    -moz-box-shadow: inset 0 2px 4px #eee;
    box-shadow: inset 0 2px 4px #eee;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px; }

nav.nav1200 {
  width: 90%;
  height: 30px;
  margin: auto; }
  nav.nav1200 ul {
    width: 100%;
    margin: 1% auto;
    padding-left: 0; }
    nav.nav1200 ul li {
      display: table-cell;
      width: 14%;
      text-align: center;
      white-space: nowrap; }

nav table.menu_search {
  width: 100%;
  font-size: 150%; }
  nav table.menu_search td:nth-child(1) select {
    width: 150px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 5px;
    background-color: #EEDEC3;
    text-align: center;
    color: #800000;
    font-weight: bold; }
    nav table.menu_search td:nth-child(1) select option {
      background-color: white;
      text-align: left;
      color: black;
      font-weight: normal; }
      nav table.menu_search td:nth-child(1) select option:disabled {
        color: #555;
        text-decoration: underline; }
  nav table.menu_search td:nth-child(2) {
    width: 100%;
    text-align: right; }
    nav table.menu_search td:nth-child(2) input {
      width: 90%; }
  nav table.menu_search td:nth-child(3) {
    padding-right: 20px; }
    nav table.menu_search td:nth-child(3) input {
      border: 1px solid black;
      border-radius: 5px;
      padding: 0 1%;
      background-color: #EEDEC3;
      text-align: center;
      color: #800000;
      font-weight: bold; }

/*
************ content *******************
*/
div#content {
  margin: auto;
  min-height: 500px; }
  div#content a {
    line-height: 30px;
    text-decoration: none;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #fff; }
    div#content a:hover {
      color: #39f; }
  div#content div.padding {
    padding: 10px 20px; }
  div#content div.social_media {
    overflow: auto;
    margin-top: 10px;
    padding-bottom: 40px;
    text-align: right; }
    div#content div.social_media div.fb-share-button {
      margin-right: 10px; }

section#homepage1 {
  padding-top: 1%;
  width: 1200px;
  margin: 0 auto;
  background-color: #7E725E; }
  section#homepage1 table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse; }
    section#homepage1 table > tbody > tr > td {
      width: 33px; }
      section#homepage1 table > tbody > tr > td:nth-child(4) {
        width: 0 !important; }
      section#homepage1 table > tbody > tr > td > span {
        display: block;
        height: 30px;
        margin: 10px 0 0 0;
        background-color: #18090b; }
    section#homepage1 table td {
      position: relative;
      vertical-align: top;
      padding: 0; }
      section#homepage1 table td.leftmenu {
        width: 350px !important;
        max-width: 350px !important; }
        section#homepage1 table td.leftmenu span {
          display: inline-block;
          padding: 0 7px 0 53px;
          padding-left: 0 !important; }
          section#homepage1 table td.leftmenu span select {
            max-width: 200px;
            margin-top: 3px;
            font-family: Tahoma, Arial, Helvetica, sans-serif;
            font-size: 85%; }
      section#homepage1 table td.slideshow {
        width: 800px;
        max-width: 800px; }
        section#homepage1 table td.slideshow + td {
          width: 75px; }
  section#homepage1 div#owl-slideshow {
    width: 800px; }
    section#homepage1 div#owl-slideshow div.item > a {
      display: block;
      position: relative;
      width: 800px;
      height: 533px;
      background-color: black; }
    section#homepage1 div#owl-slideshow div.item a img {
      position: absolute;
      max-width: 800px;
      max-height: 533px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    section#homepage1 div#owl-slideshow div.item div.owl_caption {
      height: 55px;
      padding-right: 5px;
      text-align: right; }
      section#homepage1 div#owl-slideshow div.item div.owl_caption a {
        color: white !important;
        font-style: italic; }
        section#homepage1 div#owl-slideshow div.item div.owl_caption a:hover {
          color: white !important; }
    section#homepage1 div#owl-slideshow div.owl-buttons div {
      position: absolute;
      top: 35%;
      background: transparent !important;
      opacity: 0.8 !important;
      font-size: 45px !important; }
      section#homepage1 div#owl-slideshow div.owl-buttons div.owl-next {
        right: 0; }
      section#homepage1 div#owl-slideshow div.owl-buttons div.owl-prev {
        left: 0; }

section#homepage2 {
  width: 1200px;
  margin: 62px auto auto auto;
  padding-bottom: 20px;
  background-color: #EEDEC3;
  text-align: center; }
  section#homepage2 > div {
    margin: auto;
    overflow: auto;
    width: 1100px; }
  section#homepage2 h3 {
    margin: 20px 0 10px 0;
    padding-top: 5px;
    background-color: #DFC090;
    text-align: center;
    font-size: 120%;
    letter-spacing: 1px; }
    section#homepage2 h3 a {
      font-weight: bold; }
  section#homepage2 a {
    color: #800000; }
    section#homepage2 a:hover {
      color: #39f; }
  section#homepage2 div.news_slideshow {
    margin-top: 20px;
    text-align: left; }
    section#homepage2 div.news_slideshow div.slide_left, section#homepage2 div.news_slideshow div.slide_right {
      display: inline-block;
      float: left;
      width: 50%; }
    section#homepage2 div.news_slideshow div.slide_left {
      width: 522px;
      height: 348px;
      max-width: 522px;
      max-height: 348px;
      background: #000000;
      text-align: center;
      line-height: 348px; }
      section#homepage2 div.news_slideshow div.slide_left img {
        max-width: 522px;
        max-height: 348px;
        vertical-align: middle; }
    section#homepage2 div.news_slideshow div.slide_right {
      padding-left: 2%; }
      section#homepage2 div.news_slideshow div.slide_right h1 a {
        font-size: 100%; }
    section#homepage2 div.news_slideshow div#owl-news-slideshow div.owl-controls {
      margin-top: 50px; }
      section#homepage2 div.news_slideshow div#owl-news-slideshow div.owl-controls div.owl-pagination {
        margin-top: -40px; }
      section#homepage2 div.news_slideshow div#owl-news-slideshow div.owl-controls div.owl-buttons div {
        position: absolute;
        top: 40%;
        background: transparent !important;
        color: #979696 !important;
        font-size: 50px !important; }
        section#homepage2 div.news_slideshow div#owl-news-slideshow div.owl-controls div.owl-buttons div.owl-next {
          right: 0; }
        section#homepage2 div.news_slideshow div#owl-news-slideshow div.owl-controls div.owl-buttons div.owl-prev {
          left: 0; }
  section#homepage2 div.pollution_events {
    margin-top: 40px;
    overflow: auto;
    clear: both; }
  section#homepage2 div.two_columns {
    position: relative;
    overflow: auto;
    clear: both;
    margin-top: 40px;
    margin-bottom: 60px; }
    section#homepage2 div.two_columns:after {
      content: "";
      position: absolute;
      left: 50%;
      top: 20px;
      bottom: 0;
      border-left: 2px dotted #885924; }
    section#homepage2 div.two_columns div.column_one, section#homepage2 div.two_columns div.column_two {
      width: 49%;
      float: left; }
      section#homepage2 div.two_columns div.column_one a img, section#homepage2 div.two_columns div.column_two a img {
        width: 100%;
        height: auto; }
    section#homepage2 div.two_columns div.column_two {
      float: right; }
    section#homepage2 div.two_columns span.moreinfo {
      display: inline-block;
      margin-top: 40px;
      border-radius: 40px;
      padding: 5px 20px;
      background: none repeat scroll 0 0 #DFC090;
      text-align: center; }
      section#homepage2 div.two_columns span.moreinfo a {
        line-height: 40px; }
  section#homepage2 div.web_traffic {
    padding: 34px 0 20px 0;
    font-size: 150%; }
    section#homepage2 div.web_traffic h1 {
      margin: 20px 0 10px 0;
      font-size: 150%;
      font-weight: normal;
      letter-spacing: 1px;
      color: #7B5900; }
    section#homepage2 div.web_traffic span {
      display: inline-block;
      margin: 0 0.25%;
      padding: 5px 8px;
      color: white;
      background-color: #18090B; }
  section#homepage2 div.full_version {
    padding-top: 20px; }
    section#homepage2 div.full_version a {
      border: 2px solid #333;
      border-radius: 5px;
      padding: 5px 10px;
      font-size: 150%; }

div#article {
  width: 1200px; }
  div#article a {
    color: #800000; }
  div#article > div {
    width: 1050px;
    margin: auto;
    padding: 1px 0 20px 0; }
  div#article div.end_desc {
    border-top: 2px dotted #885924; }
  div#article div.galleria {
    width: 100%;
    height: 740px;
    background: #000; }
  div#article div.multimedia {
    text-align: center;
    background-color: #000; }
    div#article div.multimedia iframe {
      width: 100%; }
  div#article div.pagination {
    position: relative;
    overflow: auto;
    margin: 20px 0;
    text-align: center; }
    div#article div.pagination a {
      display: inline-block;
      border: 0;
      border-radius: 4px;
      padding: 0 10px;
      text-decoration: none;
      background-color: #800000;
      color: white; }
      div#article div.pagination a:hover {
        background-color: #39f; }
    div#article div.pagination span.summary {
      float: right; }
    div#article div.pagination strong {
      display: inline-block;
      border: 1px solid #999;
      border-radius: 4px;
      padding: 0 10px;
      font-weight: 800;
      color: #000000;
      line-height: 30px; }
  div#article span.footnote {
    float: right;
    display: block;
    line-height: 16px;
    font-size: 80%;
    font-style: italic;
    color: #000;
    text-align: right; }

div.items {
  text-align: left; }
  div.items > div {
    position: relative;
    overflow: auto;
    border-bottom: 2px dotted #885924;
    padding: 24px 0 20px 0 !important; }
  div.items img {
    float: left;
    margin-left: 3%;
    margin-right: 20px; }
  div.items h4 {
    margin: 0 0 12px 0;
    font-size: 125%; }
    div.items h4 a {
      line-height: 24px !important;
      font-family: Arial, sans-serif !important;
      font-style: normal !important; }
  div.items div.desc {
    display: inline;
    font-size: 85%; }
    div.items div.desc div.desc a {
      line-height: normal;
      font-style: italic; }
  div.items div.text {
    border-bottom: none;
    color: #000; }
  div.items span.readmore {
    display: block;
    clear: both;
    float: right;
    width: 80px;
    border-radius: 40px;
    background: none repeat scroll 0 0 #DFC090;
    text-align: center; }
    div.items span.readmore a {
      line-height: 24px !important;
      font-size: 85% !important; }

div.items div.description,
body.item_description {
  display: block;
  border-bottom: none;
  padding-top: 0 !important;
  line-height: 24px;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #000 !important;
  background-color: #EEDEC3; }

div.items span a,
body.item_description a {
  line-height: 24px !important;
  font-family: Tahoma, Geneva, sans-serif !important;
  font-style: italic !important;
  font-size: 14px !important;
  color: #6F5048 !important;
  text-decoration: none; }

div.items img, div#article div.item img {
  max-width: 300px;
  width: 47%; }

/*
************ Calendar page ************
***** monthly calendar style sheet ****
*/
div#calendar_page .ui-page-theme-a {
  color: #800000 !important; }

div#calendar_page .fc-day-header {
  border-bottom: 1px solid #000;
  height: 25px !important;
  line-height: 25px;
  color: #dfc090;
  background-color: #7e725e;
  font-weight: bold;
  text-align: center !important; }

div#calendar_page .fc-border-separate td {
  background-color: #dfc090;
  padding: 0 !important;
  border: 1px solid #7e725e; }

div#calendar_page .fc-state-highlight {
  border: 2px solid #7E725E !important; }

div#calendar_page .fc-grid .fc-other-month {
  background-color: #cccccc !important; }
  div#calendar_page .fc-grid .fc-other-month .fc-day-number {
    opacity: 1 !important;
    color: #000000 !important;
    float: left !important; }

div#calendar_page .fc-widget-header {
  border: 1px solid #000000 !important; }

div#calendar_page .fc-widget-header {
  border-right: 0 !important;
  border-left: 0 !important; }

div#calendar_page span.fc-event-title {
  font-size: 70%; }

/*
************ galleria ******************
*****slideshow for articles ************
*/
div#galleria {
  /*
	div.galleria-thumbnails-container {
		top: -3px;
	}

	div.galleria-image {
		height: 40px!important;
		min-width: 60px!important;
		max-width: 60px!important;
		text-align: center;

		img {
			display: inline !important;
			position: static !important;
		}
	}
	*/ }

div#beforefooter {
  margin: auto; }
  div#beforefooter div {
    width: 1200px;
    margin: auto;
    padding: 2% 2% 1% 0;
    text-align: right; }
    div#beforefooter div img {
      padding-left: 1%; }

/********************* Responsive Section **************************/
@media (min-width: 1201px) {
  header img {
    width: 100%; }
  nav {
    display: none; }
  section#homepage1 table td:nth-child(1), section#homepage1 table td.leftmenu {
    display: none; }
  section#homepage2 div.pollution_events, section#homepage2 div.two_columns, section#homepage2 div.social_media {
    display: none; }
  header img {
    width: 1200px !important; }
  nav.nav1600 {
    display: block; }
  section#homepage1 table td:nth-child(1), section#homepage1 table td.leftmenu {
    display: table-cell; }
  section#homepage2 div.pollution_events, section#homepage2 div.two_columns, section#homepage2 div.social_media {
    display: block; }
  section#homepage2 div.full_screen {
    display: none; } }

@media (max-width: 1200px) {
  header img {
    width: 100%; }
  nav {
    display: none; }
  section#homepage1 table td:nth-child(1), section#homepage1 table td.leftmenu {
    display: none; }
  section#homepage2 div.pollution_events, section#homepage2 div.two_columns, section#homepage2 div.social_media {
    display: none; }
  nav.nav1200 {
    display: table; }
  section#homepage1 {
    width: 100%; }
    section#homepage1 table td.slideshow {
      width: 100%;
      max-width: 100%;
      padding-top: 10px;
      text-align: center; }
    section#homepage1 div#owl-slideshow {
      margin: auto;
      width: 800px; }
      section#homepage1 div#owl-slideshow div.item > a {
        width: 800px;
        height: 533.33333px; }
      section#homepage1 div#owl-slideshow div.item a img {
        max-width: 800px;
        max-height: 533.33333px; }
  section#homepage2 {
    width: 100%; }
    section#homepage2 > div {
      width: 90%; }
    section#homepage2 div.news_slideshow div.slide_left {
      width: 40%; }
      section#homepage2 div.news_slideshow div.slide_left img {
        max-width: 100%;
        max-height: 100%; }
    section#homepage2 div.news_slideshow div.slide_right {
      width: 50%;
      float: left; }
  div#beforefooter div {
    width: auto; }
    div#beforefooter div img.facebook {
      width: 108px; }
    div#beforefooter div img.youtube {
      width: 45px; }
  footer img {
    height: 57.6px; }
  #calendar {
    width: 500px;
    margin: 0 auto; }
  div#content div#article, body.article_description, div#article, div#content div#calendar_page {
    width: 90% !important;
    padding: 20px; }
  div#content div#article > div, body.article_description, div#article, body.item_description {
    width: 100% !important;
    margin: auto; } }

@media (max-width: 800px) {
  header img {
    width: 100%; }
  nav {
    display: none; }
  section#homepage1 table td:nth-child(1), section#homepage1 table td.leftmenu {
    display: none; }
  section#homepage2 div.pollution_events, section#homepage2 div.two_columns, section#homepage2 div.social_media {
    display: none; }
  body {
    font-size: 80%; }
  nav.nav1200 ul {
    margin: 5px 0; }
  nav.nav1200 table.menu_search td:nth-child(1) select {
    min-width: 100px; }
  section#homepage1 table td.slideshow {
    padding-top: 0px; }
  section#homepage1 div#owl-slideshow {
    width: 400px; }
    section#homepage1 div#owl-slideshow div.item > a {
      width: 400px;
      height: 266.66667px; }
    section#homepage1 div#owl-slideshow div.item a img {
      max-width: 400px;
      max-height: 266.66667px; }
    section#homepage1 div#owl-slideshow div.item div.owl_caption {
      height: 25px;
      font-size: 80%;
      line-height: 80%; }
    section#homepage1 div#owl-slideshow div.owl-controls {
      margin-top: 0; }
      section#homepage1 div#owl-slideshow div.owl-controls div.owl-pagination {
        display: none; }
        section#homepage1 div#owl-slideshow div.owl-controls div.owl-pagination span {
          width: 6px;
          height: 6px;
          margin: 2px 4px 1px 3px;
          border-radius: 10px; }
      section#homepage1 div#owl-slideshow div.owl-controls div.owl-buttons div {
        top: 25%; }
  section#homepage2 {
    margin-top: 20px;
    padding-bottom: 0px; }
    section#homepage2 div.news_slideshow div.slide_left {
      height: 250px;
      line-height: 250px; }
    section#homepage2 div.news_slideshow div.slide_right h1 a {
      line-height: 70%; }
    section#homepage2 div.news_slideshow div.owl-controls {
      margin-top: 0 !important; }
      section#homepage2 div.news_slideshow div.owl-controls div.owl-pagination {
        display: none; }
        section#homepage2 div.news_slideshow div.owl-controls div.owl-pagination span {
          width: 6px;
          height: 6px;
          margin: 2px 4px 1px 3px;
          border-radius: 10px; }
      section#homepage2 div.news_slideshow div.owl-controls div.owl-buttons div {
        top: 25%; }
    section#homepage2 div.web_traffic {
      padding: 0; }
      section#homepage2 div.web_traffic span {
        font-size: 70%; }
  div#beforefooter div img.facebook {
    width: 96px; }
  div#beforefooter div img.youtube {
    width: 40px; }
  footer {
    line-height: 140%; }
    footer img {
      height: 51.2px; } }

@media (max-width: 400px) {
  header img {
    width: 100%; }
  nav {
    display: none; }
  section#homepage1 table td:nth-child(1), section#homepage1 table td.leftmenu {
    display: none; }
  section#homepage2 div.pollution_events, section#homepage2 div.two_columns, section#homepage2 div.social_media {
    display: none; }
  body {
    font-size: 50%; }
  nav.nav1200 {
    font-size: 80%; }
  nav table.menu_search {
    width: 100%; }
    nav table.menu_search td:nth-child(1) {
      padding-left: 10px; }
      nav table.menu_search td:nth-child(1) select {
        width: 80px;
        padding: 0 5px;
        font-size: 50%; }
    nav table.menu_search td:nth-child(2) input {
      font-size: 50%; }
    nav table.menu_search td:nth-child(3) {
      padding-right: 10px; }
      nav table.menu_search td:nth-child(3) input {
        padding: 0 5px;
        font-size: 50%; }
  div#content {
    min-height: 300px; }
  section#homepage1 div#owl-slideshow {
    width: 300px; }
    section#homepage1 div#owl-slideshow div.item > a {
      width: 300px;
      height: 200px; }
    section#homepage1 div#owl-slideshow div.item a img {
      max-width: 300px;
      max-height: 200px; }
    section#homepage1 div#owl-slideshow div.owl-buttons div {
      top: 20%; }
  section#homepage2 div.news_slideshow div.slide_left {
    height: 150px;
    line-height: 150px; }
  section#homepage2 div.news_slideshow div.slide_right {
    font-size: 50%; }
  section#homepage2 div.web_traffic {
    letter-spacing: 0px; }
    section#homepage2 div.web_traffic span {
      margin: 0;
      padding: 2px 5px;
      font-size: 50%; }
  div#beforefooter div img.facebook {
    width: 48px; }
  div#beforefooter div img.youtube {
    width: 20px; }
  footer {
    line-height: 120%; }
    footer img {
      height: 25.6px; } }
