$tahoma_font: Tahoma, Arial, Helvetica, sans-serif;
$facebook_logo_width: 120;
$youtube_logo_width: 50;
$footer_img_height: 64;

body {
	font-family: $tahoma_font;
	font-size: 16px;

	div.ui-page {
		background-color: #7E725E;
		text-shadow: none !important;

		div.ui-content {
			padding: 0;
		}
	}

	// css for article description in admin editor page
	&.article_description {
		width: 1050px;
		margin: auto;
		background-color: #EEDEC3;
		font-family: $tahoma_font;
		font-weight: normal;

		a {
			color: #800000;
			font-style: italic;
			text-decoration: none;

			&:hover {
				color: #0a75e1;
			}
		}

		p {
			margin: 7px 0 21px 0;
			font-family: $tahoma_font;
			font-size: 90%;
			color: #000 !important;
		}

		h1 {
			margin: 20px 0;
			background-color: #DFC090;
			text-align: center;
			font-family: Arial, sans-serif;
			font-size: 175%;
			color: #800000;
			font-weight: normal;
			letter-spacing: 1px;
			padding: 5px 20px;
		}

		h2 {
			display: inline-block;
			color: #800000;
			font-weight: bold;
			font-size: 150%;
		}
	}

	// css for footer in admin editor page
	&.footer {
		padding-top: 3%;
		padding-bottom: 1.5%;
		line-height: 17px;
		text-align: center;
		text-shadow: none;
		font-size: 80%;
		font-family: $tahoma_font;
		color: #ffffff;
		background-color: #7E725E;

		a {
			text-decoration: none;
			font-weight: normal !important;
			color: #A8AFBD !important;

			&:active, &:hover, &:focus {
				color: #fff !important;
			}
		}

		& > div {
			margin: auto;
			width: 90%;
		}
	}

	// css for popover description in admin editor page
	&.popover_description {
		max-width: 600px;
		margin: auto;
		font-family: sans-serif;
		// font-size: 12px;
		font-size: 75%;
		color: #000;
		background-color: #fff;
		line-height: 16px;

		a {
			color: #00f;

			&.readmore {
				float: right;
			}
		}
	}

	// css for map popover on pollution page
	div.map_popover {
		@extend body.popover_description;
	}
}

header {
	text-align: center;

	img {
		height: auto;
	}
}

nav {

	a.ui-link {
		vertical-align: top;
		text-decoration: none;
		color: #fff;

		&:visited {
			color: #fff;
		}

		&:hover, &:active, &:focus {
			color: #39f !important;
		}
	}

	&.nav1600 {
		width: 1200px;
		overflow: auto;
		margin: auto;
		padding-top: 5px;

		ul {
			list-style: none;
			margin: 0;
			padding-left: 20px;

			li {
				float: left;
				height: 30px;
				padding: 0 12px;

				div.ui-input-text {
					margin: 0;
					border: 0;
					background-color: transparent !important;
				}
			}
		}

		input#text-search {
			position: relative;
			height: 23px;
			margin-top: -5px;
			border: 0 none #000000;
			border-radius: 10px;
			padding: 2px 9px;
			background: none repeat scroll 0 0 #7E725E;
			text-align: center;
			text-shadow: none;
			//font-size: 14px;
			font-size: 85%;
			color: #FFFFFF;
			-webkit-box-shadow: inset 0 2px 4px #eee;
			-moz-box-shadow: inset 0 2px 4px #eee;
			box-shadow: inset 0 2px 4px #eee;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
		}
	}

	&.nav1200 {
		width: 90%;
		height: 30px;
		margin: auto;

		ul {
			width: 100%;
			margin: 1% auto;
			padding-left: 0;

			li {
				display: table-cell;
				width: 14%;
				text-align: center;
				white-space: nowrap;
			}
		}
	}

	&.nav800 {
	}

	table.menu_search {
		width: 100%;
		font-size: 150%;

		td:nth-child(1) {

			select {
				width: 150px;
				border: 1px solid black;
				border-radius: 5px;
				padding: 0 5px;
				background-color: #EEDEC3;
				text-align: center;
				color: #800000;
				font-weight: bold;

				option {
					background-color: white;
					text-align: left;
					color: black;
					font-weight: normal;

					&:disabled {
						color: #555;
						text-decoration: underline;
					}
				}
			}
		}

		td:nth-child(2) {
			width: 100%;
			text-align: right;

			input {
				width: 90%;
			}
		}

		td:nth-child(3) {
			padding-right: 20px;

			input {
				border: 1px solid black;
				border-radius: 5px;
				padding: 0 1%;
				background-color: #EEDEC3;
				text-align: center;
				color: #800000;
				font-weight: bold;
			}
		}
	}
}

/*
************ content *******************
*/
div#content {
	margin: auto;
	min-height: 500px;

	a {
		line-height: 30px;
		text-decoration: none;
		font-family: $tahoma_font;
		font-weight: normal;
		color: #fff;

		&:hover {
			color: #39f;
		}
	}

	div.padding {
		padding: 10px 20px;
	}

	div.social_media {
		overflow: auto;
		margin-top: 10px;
		padding-bottom: 40px;
		text-align: right;

		div.fb-share-button {
			margin-right: 10px;
		}
	}
}

section#homepage1 {
	padding-top: 1%;
	width: 1200px;
	margin: 0 auto;
	background-color: #7E725E;

	table {
		width: 100%;
		border-spacing: 0;
		border-collapse: collapse;

		&> tbody > tr > td {
			width: 33px;

			&:nth-child(4) {
				width: 0 !important;
			}

			&> span {
				display: block;
				height: 30px;
				margin: 10px 0 0 0;
				background-color: #18090b;
			}
		}

		td {
			position: relative;
			vertical-align: top;
			padding: 0;

			&.leftmenu {
				width: 250px !important;
				max-width: 250px !important;

				span {
					display: inline-block;
					padding: 0 7px 0 53px;
					padding-left: 0 !important;

					select {
						max-width: 200px;
						margin-top: 3px;
						font-family: $tahoma_font;
						//font-size: 14px;
						font-size: 85%;
					}
				}
			}

			&.slideshow {
				width: 900px;
				max-width: 900px;

				&+ td{
					width: 75px;
				}
			}
		}
	}

	// slide show control
	div#owl-slideshow {
		width: 900px;

		div.item {
			&> a {
				display: block;
				position: relative;
				width: 900px;
				height: 600px;
				background-color: black;
			}

			a img {
				position: absolute;
				max-width: 900px;
				max-height: 600px;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			div.owl_caption {
				height: 55px;
				padding-right: 5px;
				text-align: right;

				a {
					color: white!important;
					font-style: italic;

					&:hover {
						color: white!important;
					}
				}
			}
		}

		div.owl-buttons {

			div {
				position: absolute;
				top: 35%;
				background : transparent !important;
				opacity: 0.8 !important;
				font-size: 45px !important;

				&.owl-next {
					right: 0;
				}

				&.owl-prev {
					left: 0;
				}
			}
		}
	}
}

section#homepage2 {
	width: 1200px;
	margin: 62px auto auto auto;
	padding-bottom: 20px;
	background-color: #EEDEC3;
	text-align: center;

	&> div {
		margin: auto;
		overflow: auto;
		width: 1100px;
	}

	h3 {
		margin: 20px 0 10px 0;
		padding-top: 5px;
		background-color: #DFC090;
		text-align: center;
		font-size: 120%;
		letter-spacing: 1px;

		a {
			font-weight: bold;
		}
	}

	a {
		color: #800000;

		&:hover {
			color: #39f;
		}
	}

	// News slideshow section
	div.news_slideshow {
		margin-top: 20px;
		text-align: left;

		div.slide_left, div.slide_right {
			display: inline-block;
			float: left;
			width: 50%;
		}

		div.slide_left {
			width: 522px;
			height: 348px;
			max-width: 522px;
			max-height: 348px;
			background: #000000;
			text-align: center;
			line-height: 348px;

			img {
				max-width: 522px;
				max-height: 348px;
				vertical-align: middle;
			}
		}

		div.slide_right {
			padding-left: 2%;

			h1 a {
				font-size: 100%;
			}
		}

		// slideshow control
		div#owl-news-slideshow {
			div.owl-controls {
				margin-top: 50px;

				div.owl-pagination {
					margin-top: -40px;
				}

				div.owl-buttons {

					div {
						position: absolute;
						top: 40%;
						background: transparent !important;
						color: #979696 !important;
						font-size: 50px !important;

						&.owl-next {
							right: 0;
						}

						&.owl-prev {
							left: 0;
						}
					}
				}
			}
		}
	}

	div.pollution_events {
		margin-top: 40px;
		overflow: auto;
		clear: both;
	}

	div.two_columns {
		position: relative;
		overflow: auto;
		clear: both;
		margin-top: 40px;
		margin-bottom: 60px;

		&:after {
			content: "";
			position: absolute;
			left: 50%;
			top: 20px;
			bottom: 0;
			border-left: 2px dotted #885924;
		}

		div.column_one {
			width: 49%;
			float: left;

			a img {
				width: 100%;
				height: auto;
			}
		}

		div.column_two {
			@extend div.column_one;
			float: right;
		}

		span.moreinfo {
			display: inline-block;
			margin-top: 40px;
			border-radius: 40px;
			padding: 5px 20px;
			background: none repeat scroll 0 0 #DFC090;
			text-align: center;

			a {
				line-height: 40px;
			}
		}
	}

	div.web_traffic {
		padding: 34px 0 20px 0;
		font-size: 150%;

		h1 {
			margin: 20px 0 10px 0;
			//font-size: 25px;
			font-size: 150%;
			font-weight: normal;
			letter-spacing: 1px;
			color: #7B5900;
		}

		span {
			display: inline-block;
			margin: 0 0.25%;
			padding: 5px 8px;
			color: white;
			background-color: #18090B;
		}
	}

	div.full_version {
		padding-top: 20px;

		a {
			border: 2px solid #333;
			border-radius: 5px;
			padding: 5px 10px;
			font-size: 150%;
		}
	}
}

div#article {
	@extend body.article_description;
	width: 1200px;

	a {
		color: #800000;
	}

	&> div {
		width: 1050px;
		margin: auto;
		padding: 1px 0 20px 0;
	}

	div.end_desc {
		border-top: 2px dotted #885924;
	}

	div.galleria {
		width: 100%;
		height: 740px;
		background: #000;
	}

	div.multimedia {
		text-align: center;
		background-color: #000;

		iframe {
			width: 100%;
		}
	}

	// pagination
	div.pagination {
		position: relative;
		overflow: auto;
		margin: 20px 0;
		text-align: center;

		a {
			display: inline-block;
			border: 0;
			border-radius: 4px;
			padding: 0 10px;
			text-decoration: none;
			background-color: #800000;
			color: white;

			&:hover {
				background-color: #39f;
			}
		}

		span.summary {
			float: right;
		}

		strong {
			display: inline-block;
			border: 1px solid #999;
			border-radius: 4px;
			padding: 0 10px;
			font-weight: 800;
			color: #000000;
			line-height: 30px;
		}
	}

	span.footnote {
		float: right;
		display: block;
		line-height: 16px;
		//font-size: 10pt;
		font-size: 80%;
		font-style: italic;
		color: #000;
		text-align: right;
	}
}

div.items {
	text-align: left;

	&> div {
		position: relative;
		overflow: auto;
		border-bottom: 2px dotted #885924;
		padding: 24px 0 20px 0 !important;
	}

	img {
		float: left;
		margin-left: 3%;
		margin-right: 20px;
	}

	h4 {
		margin: 0 0 12px 0;
		font-size: 125%;

		a {
			line-height: 24px !important;
			font-family: Arial, sans-serif !important;
			//font-size: 20px !important;
			font-style: normal !important;
		}
	}

	div.desc {
		display: inline;
		font-size: 85%;

		div.desc a {
			line-height: normal;
			font-style: italic;
		}
	}

	div.text {
		border-bottom: none;
		color: #000;
	}

	span.readmore {
		display: block;
		clear: both;
		float: right;
		width: 80px;
		border-radius: 40px;
		background: none repeat scroll 0 0 #DFC090;
		text-align: center;

		a {
			line-height: 24px !important;
			// font-family: Tahoma, Geneva, sans-serif !important;
			// font-size: 14px !important;
			font-size: 85% !important;
		}
	}
}

div.items div.description,
body.item_description {
	display: block;
	border-bottom: none;
	padding-top: 0 !important;
	line-height: 24px;
	font-family: $tahoma_font;
	font-size: 14px;
	color: #000 !important;
	background-color: #EEDEC3;
}

div.items span a,
body.item_description a {
	line-height: 24px !important;
	font-family: Tahoma, Geneva, sans-serif !important;
	font-style: italic !important;
	font-size: 14px !important;
	color: #6F5048 !important;
	text-decoration: none;
}

div.items img, div#article div.item img {
	max-width: 300px;
	width: 47%;
}

/*
************ Calendar page ************
***** monthly calendar style sheet ****
*/
div#calendar_page {

	.ui-page-theme-a {
		color: #800000 !important;
	}

	.fc-day-header {
		border-bottom: 1px solid #000;
		height: 25px ! important;
		line-height: 25px;
		color: #dfc090;
		background-color: #7e725e;
		font-weight: bold;
		text-align: center !important;
	}

	.fc-border-separate td {
		background-color: #dfc090;
		padding: 0 !important;
		border: 1px solid #7e725e;
	}

	.fc-state-highlight {
		border: 2px solid #7E725E !important;
	}

	.fc-grid .fc-other-month {
		background-color: #cccccc !important;

		.fc-day-number {
			opacity: 1 !important;
			color: #000000 !important;
			float: left !important;
		}
	}

	.fc-widget-header {
		border: 1px solid #000000 !important;
	}

	.fc-widget-header {
		border-right: 0!important;
		border-left: 0!important;
	}

	span.fc-event-title {
		font-size: 70%;
	}
}

/*
************ galleria ******************
*****slideshow for articles ************
*/
div#galleria {

	/*
	div.galleria-thumbnails-container {
		top: -3px;
	}

	div.galleria-image {
		height: 40px!important;
		min-width: 60px!important;
		max-width: 60px!important;
		text-align: center;

		img {
			display: inline !important;
			position: static !important;
		}
	}
	*/
}

div#beforefooter {
	margin: auto;

	div {
		width: 1200px;
		margin: auto;
		padding: 2% 2% 1% 0;
		text-align: right;

		img {
			padding-left: 1%;
		}
	}
}

footer {
	@extend body.footer;
}




/********************* Responsive Section **************************/

@mixin responsive {

	header img {
		width: 100%;
	}

	nav {
		display: none;
	}

	section#homepage1 {
		table {
			// hide left menu
			td:nth-child(1), td.leftmenu {
				display: none;
			}
		}
	}

	section#homepage2 {

		div.pollution_events, div.two_columns, div.social_media {
			display: none;
		}
	}
}

// full screen desktop view >1200px
@media (min-width: 1201px) {
	@include responsive;

	header {
		img {
			width: 1200px !important;
		}
	}

	nav.nav1600 {
		display: block;
	}

	section#homepage1 {

		table {

			// hide left menu
			td:nth-child(1), td.leftmenu {
				display: table-cell;
			}
		}
	}

	section#homepage2 {

		div.pollution_events, div.two_columns, div.social_media {
			display: block;
		}

		div.full_screen {
			display: none;
		}
	}
}

// large tablet view 800-1200px
@media (max-width: 1200px) {
	@include responsive;

	body {
		//font-size: 90%;
	}

	nav {
		&.nav1200 {
			display: table;
		}
	}

	section#homepage1 {
		width: 100%;

		table {
			td.slideshow {
				width: 100%;
				max-width: 100%;
				padding-top: 10px;
				text-align: center;
			}
		}

		div#owl-slideshow {
			margin: auto;
			width: 800px;

			div.item {
				& > a {
					width: 800px;
					height: 800px *2/3;
				}

				a img {
					max-width: 800px;
					max-height: 800px *2/3;
				}
			}
		}
	}

	section#homepage2 {
		width: 100%;

		&>div {
			width: 90%;
		}

		div.news_slideshow {

			div.slide_left {
				width: 40%;

				img {
					max-width: 100%;
					max-height: 100%;
				}
			}

			div.slide_right {
				width: 50%;
				float: left;
			}
		}

	}

	div#beforefooter {
		div {
			width: auto;

			img.facebook {
				width: $facebook_logo_width *0.9px;
			}

			img.youtube {
				width: $youtube_logo_width *0.9px;
			}
		}
	}

	footer {
		img {
			height: $footer_img_height *0.9px;
		}
	}

	#calendar {
		width: 500px;
		margin: 0 auto;
	}

	div#content div#article, body.article_description, div#content div#calendar_page {
		width: 90% !important;
		padding: 20px;
	}

	div#content div#article > div, body.article_description, body.item_description {
		width: 100% !important;
		margin: auto;
	}
}

// phone view 400-800px
@media (max-width: 800px) {
	@include responsive;

	body {
		font-size: 80%;
	}

	nav.nav1200 {

		ul {
			margin: 5px 0;
		}

		table.menu_search {
			td:nth-child(1) {
				select {
					min-width: 100px;
				}
			}
		}
	}

	section#homepage1 {

		table td.slideshow {
			padding-top: 0px;
		}

		div#owl-slideshow {
			width: 400px;

			div.item {

				& > a {
					width: 400px;
					height: 400px *2/3;
				}

				a img {
					max-width: 400px;
					max-height: 400px *2/3;
				}

				div.owl_caption {
					height: 25px;
					font-size: 80%;
					line-height: 80%;
				}
			}

			div.owl-controls {
				margin-top: 0;

				div.owl-pagination {
					display: none;

					span {
						width: 6px;
						height: 6px;
						margin: 2px 4px 1px 3px;
						border-radius: 10px;
					}
				}

				div.owl-buttons {
					div {
						top: 25%;
					}
				}
			}
		}
	}

	section#homepage2 {
		margin-top: 20px;
		padding-bottom: 0px;

		div.news_slideshow {
			div.slide_left {
				height: 250px;
				line-height: 250px;
			}

			div.slide_right {

				h1 a {
					line-height: 70%;
				}
			}

			div.owl-controls {
				margin-top: 0 !important;

				div.owl-pagination {
					display: none;

					span {
						width: 6px;
						height: 6px;
						margin: 2px 4px 1px 3px;
						border-radius: 10px;
					}
				}

				div.owl-buttons {
					div {
						top: 25%;
					}
				}
			}
		}

		div.web_traffic {
			padding: 0;

			span {
				font-size: 70%;
			}
		}
	}

	div#beforefooter {
		div {

			img.facebook {
				width: $facebook_logo_width *0.8px;
			}

			img.youtube {
				width: $youtube_logo_width *0.8px;
			}
		}
	}

	footer {
		line-height: 140%;

		img {
			height: $footer_img_height *0.8px;
		}
	}
}

// small phone view <400px
@media (max-width: 400px) {
	@include responsive;

	body {
		font-size: 50%;
	}

	nav {
		&.nav1200 {
			font-size: 80%;
		}

		table.menu_search {
			width: 100%;

			td:nth-child(1) {
				padding-left: 10px;

				select {
					width: 80px;
					padding: 0 5px;
					font-size: 50%;
				}
			}

			td:nth-child(2) {
				input {
					font-size: 50%;
				}
			}

			td:nth-child(3) {
				padding-right: 10px;

				input {
					padding: 0 5px;
					font-size: 50%;
				}
			}
		}
	}

	div#content {
		min-height: 300px;
	}

	section#homepage1 {
		div#owl-slideshow {
			width: 300px;

			div.item {
				& > a {
					width: 300px;
					height: 300px *2/3;
				}

				a img {
					max-width: 300px;
					max-height: 300px *2/3;
				}
			}

			div.owl-buttons {
				div {
					top: 20%;
				}
			}
		}
	}

	section#homepage2 {
		div.news_slideshow {
			div.slide_left {
				height: 150px;
				line-height: 150px;
			}

			div.slide_right {
				font-size: 50%;
			}
		}

		div.web_traffic {
			letter-spacing: 0px;

			span {
				margin: 0;
				padding: 2px 5px;
				font-size: 50%;
			}
		}
	}

	div#beforefooter {
		div {

			img.facebook {
				width: $facebook_logo_width *0.4px;
			}

			img.youtube {
				width: $youtube_logo_width *0.4px;
			}
		}
	}

	footer {
		line-height: 120%;
		//font-size: 40%;

		img {
			height: $footer_img_height *0.4px;
		}
	}
}
