body {
	font-family: Tahoma, Arial, sans-serif;
}

div.ui-page {
	background-color: #7E725E;
	text-shadow: none !important;
}

div.ui-content {
	padding: 0;
}

header {
	text-align: center;
}

header img {
	width: 1200px;
	height: auto;
}

nav.menu_toggle {
	display: none;
}

nav {
	width: 1200px;
	overflow: auto;
	margin: auto;
	padding-top: 5px;
}

div#content {
	margin: auto;
	min-height: 500px;
}

iframe#iframe {
    width: 100%!important;
}

div#beforefooter {
	width: 1200px;
	margin: 0 auto;
	padding: 25px 0 10px 0;
	text-align: right;
}

footer, body.footer {

	padding-top: 30px;
	padding-bottom: 15px;
	line-height: 17px;
	text-align: center;
	text-shadow: none;
	font-size: 10pt; 
	font-family: tahoma,arial,helvetica,sans-serif;
	color: #ffffff;
	background-color: #7E725E;

}

/*
************ header ****************
*/

/*
************ nav *******************
*/
nav ul {
	list-style: none;
	margin: 0;
	padding-left: 20px;
}

nav ul li {
	float: left;
	height: 30px;
	padding: 0 12px;
}

nav ul li div.ui-input-text {
	margin: 0;
	border: 0;
}

nav a.ui-link, nav a.ui-link:visited {
	vertical-align: top;
	text-decoration: none;
	font-family: Tahoma,Geneva,sans-serif;
	font-size: 16px;
	color: #fff;
}

nav a.ui-link:hover, nav a.ui-link:active, nav a.ui-link:focus {
	color: #39f;
}

nav input#text-search {
	position: relative;
	height: 23px;
	margin-top: -5px;
	border: 0 none #000000;
	border-radius: 10px;
	padding: 2px 9px;
	background: none repeat scroll 0 0 #7E725E;
	text-align: center;
	font-size: 14px;
	color: #FFFFFF;
	-webkit-box-shadow: inset 0 2px 4px #eee;
	-moz-box-shadow: inset 0 2px 4px #eee;
	box-shadow: inset 0 2px 4px #eee;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.ui-page-theme-a .ui-body-inherit {
    background-color: transparent !important;
}

.ui-input-text input {
    text-shadow: none;
}

/*
************ content *******************
*/
div#content a {
	line-height: 30px;
	text-decoration: none;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #fff;
}

div#content a:hover {
	color: #39f;
}

div#content section#homepage1 {
	padding-top: 10px;
	width: 1200px;
	margin: 0 auto;
	background-color: #7E725E;
}

div#content section#homepage1 table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}

div#content section#homepage1 td {
	position: relative;
	vertical-align: top;
	padding: 0;
}

div#content section#homepage1 table > tbody > tr > td > span {
	display: block;
	height: 28px;
	margin: 10px 0 0 0;
	background-color: #18090b;
}

div#content section#homepage1 td.leftmenu span {
	display: inline-block;
	padding: 0 7px 0 53px;
}

div#content section#homepage1 td.leftmenu span select {
	max-width: 200px;
	margin-top: 3px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 14px;
}

div#content section#homepage1 #owl-slideshow div.item > a {
	display: block;
	position: relative;
	width: 900px;
	height: 600px;
	background-color: black;
}

div#content section#homepage1 #owl-slideshow div.item a img {
	position: absolute;
	max-width: 900px;
	max-height: 600px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

div#content section#homepage1 #owl-slideshow div.owl_caption {
	height: 55px;
	padding-right: 5px;
	text-align: right;
}

div#content section#homepage1 #owl-slideshow .owl_caption a {
	color: white!important;
	font-style: italic;
}

div#content section#homepage1 #owl-slideshow .owl_caption a:hover {
	color: white!important;
}

div#content section#homepage2 {
	margin: 62px auto auto auto;
	background-color: #EEDEC3;
	font-family: 'tahoma',sans-serif;
	text-align: center;
}

div#content section#homepage2 > div {
	margin: auto;
	overflow: auto;
}

div#content section#homepage2 h3 {
	margin: 20px 0 10px 0;
	padding-top: 5px;
	background-color: #DFC090;
	text-align: center;
	letter-spacing: 1px;
}

div#content section#homepage2 h3 a {
	font-weight: bold;
	font-size: 120%;
}

div#content section#homepage2 a {
	color: #800000;
}

div#content section#homepage2 a:hover {
	color: #39f;
}

div#content section#homepage2 span.moreinfo {
	display: inline-block;
	margin-top: 40px;
	border-radius: 40px;
	padding: 5px 20px;
	background: none repeat scroll 0 0 #DFC090;
    text-align: center;
}

div#content section#homepage2 span.moreinfo a {
	line-height: 40px;
}

div#content section#homepage2 div.news_slideshow .owl-theme .owl-controls {
    margin-top: 50px;
}

div#content section#homepage2 div.pollution_events {
	margin-top: 40px;
	overflow: auto;
	clear: both;
}

/*
div#content section#homepage2 div.pollution {
	float: left;
	width: 352px;
}

div#content section#homepage2 div.events {
	float: right;
	width: 352px;
}
*/

div#content section#homepage2 div.two_columns {
	position: relative;
	overflow: auto;
	clear: both;
	margin-top: 40px;
	margin-bottom: 60px;
}

div#content section#homepage2 div.two_columns div.column_one {
	float: left;
}

div#content section#homepage2 div.two_columns div.column_two {
	float: right;
}

div#content section#homepage2 div.web_traffic {
	padding: 34px 0 40px 0;
}

div#content section#homepage2 div.documents {
	padding-bottom: 60px;
	text-align: center;
}

div#content section#homepage2 div.web_traffic h1 {
	margin: 20px 0 10px 0;
	font-size: 25px;
	font-weight: normal;
	letter-spacing: 1px;
	color: #7B5900;
}

div#content section#homepage2 div.web_traffic span {
	display: inline-block;
	margin: 0 1px;
	padding: 5px 8px;
	font-family: tahoma, sans-serif;
	font-size: 24px;
	color: white;
	background-color: #18090B;
}

div#content section.center {
	width: 1200px;
	min-height: 500px;
	margin: 20px auto auto auto;
	background-color: #EEDEC3;
	font-weight: normal;
	color: #800000;
}

div#content div.padding {
	padding: 10px 20px;
}

div#content div#article, body.article_description, div#content div#calendar_page {
	width: 1200px;
	margin: auto;
	background-color: #EEDEC3;
	font-family: Tahoma, ​Geneva, sans-serif;
	font-weight: normal;
}

div#content div#article > div, div#content div#calendar_page > div {
	width: 100%;
	margin: auto;
	padding: 1px 0 20px 0;
}

div#content div#calendar_page div#calendar {
    width: 90%;
    margin: auto;
    padding: 1px 0 20px 0;
}

div#content div#article > div, body.article_description {
    width: 750px !important;
    margin: auto;
}

div#content div#article > div {
	min-height: 500px;
}

div#content div#article a, body.article_description a {
    color: #800000;
	font-style: italic;
    text-decoration: none;
}

div#content div#article a:hover, body.article_description a:hover {
    color: #0a75e1;
}

div#content div#article h1, div#content div#calendar_page h1 {
	margin: 20px 0;
	background-color: #DFC090;
	text-align: center;
	font-family: Arial, sans-serif;
	font-size: 28px;
	color: #800000;
    font-weight: normal;
	letter-spacing: 1px;
    padding: 5px 20px;
}

div#content div#article div.multimedia {
	text-align: center;
	background-color: #000;
}

div#content div#article div.multimedia iframe {
    width: 100%;
}




/************************************************
 *
 *  pagination
 *
 ***********************************************/
div#content div#article div.pagination {
	position: relative;
	overflow: auto;
	margin: 20px 0;
	text-align: center;
}

div#content div#article div.pagination span.summary {
	float: right;
}

div#content div#article div.pagination a {
	display: inline-block;
	border: 0;
	border-radius: 4px;
	padding: 0 10px;
	text-decoration: none;
	background-color: #800000;
	color: white;
}

div#content div#article div.pagination a:hover {
	background-color: #39f;
}

div#content div#article div.pagination strong {
	display: inline-block;
	border: 1px solid #999;
	border-radius: 4px;
	padding: 0 10px;
	font-weight: 800;
	color: #000000;
	line-height: 30px;
}

/************************************/

div#content div#article span.footnote {
	float: right;
	display: block;
	line-height: 16px;
	font-size: 10pt;
	font-style: italic;
	color: #000;
    text-align: right;
}

div#content div#article p, body.article_description p {
	margin: 7px 0 21px 0;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	color: #000 !important;
}


div#content div#article h2, body.article_description h2 {
	display: inline-block;
    color: #800000;
	font-weight: bold;
    font-size: 22px;
}

div#content div#article div.end_desc {
    border-top: 2px dotted #885924;
}

div#content div.social_media {
	overflow: auto;
	margin-top: 10px;
	padding-bottom: 40px;
	text-align: right;
}

div#content div.social_media img {
	float: left;
	margin: 10px;
	width: 32px;
}

div#content div.social_media div.fb-share-button {
	margin-right: 10px;
}

div#content div.social_media div.facebook,
div#content div.social_media div.youtube {
	float: right;
	clear: both;
	width: 180px;
	margin: 5px;
	border-radius: 10px;
	background-color: white;
	text-align: left;
	line-height: normal;
	font-size: 90%;
}

div#content div.social_media div.facebook {
	color: #3A5897;
}

div#conten div.social_media div.youtube {
	color: #891C19;
}

div#content div.social_media div span {
	float: left;
	display: block;
	margin-top: 6px;
}

div#content div#article div.galleria {
    width: 100%;
    height: 740px;
    background: #000;
}

div#content div.items {
	text-align: left;
}

div#content div.items > div {
	position: relative;
	overflow: auto;
	border-bottom: 2px dotted #885924;
	padding: 24px 0 20px 0 !important;
}

div#content div.items img {
	float: left;
	margin-left: 3%;
	margin-right: 20px;
}

div#content div.items h4 {
	margin: 0 0 12px 0;
}

div#content div.items h4 a {
	line-height: 24px !important;
	font-family: Arial, sans-serif !important;
	font-size: 20px !important;
	font-style: normal !important;
}

div#content div.items div.description, 
		body.item_description {
	display: block;
	border-bottom: none;
	padding-top: 0 !important;
	line-height: 24px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	color: #000 !important;
	background-color: #EEDEC3;
}

div#content div.items div.desc {
	display: inline;
}

div#content div.items div.desc a {
	line-height: normal;
	font-style: italic;
}

div#content div.items span a,
		body.item_description a {
	line-height: 24px !important;
	font-family: Tahoma, Geneva, sans-serif !important;
	font-style: italic !important;
	font-size: 14px !important;
	color: #6F5048 !important;
	text-decoration: none;
}

div#content div.items div.text {
	border-bottom: none;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	color: #000;
}

div#content div.items span.readmore {
	display: block;
	clear: both;
	float: right;
	width: 80px;
	border-radius: 40px;
	background: none repeat scroll 0 0 #DFC090;
	text-align: center;
}

div#content div.items span.readmore a {
	line-height: 24px !important;
	font-family: Tahoma, Geneva, sans-serif !important;
	font-size: 14px !important;
}

div#content section#homepage2 div.news_slideshow {
	margin-top: 20px;
	text-align: left;
}

div#content section#homepage2 div.news_slideshow div.slide_left,
div#content section#homepage2 div.news_slideshow div.slide_right {
	display: inline-block;
	float: left;
	width: 50%;
}

div#content section#homepage2 div.news_slideshow div.slide_left {
	width: 522px;
	height: 348px;
	max-width: 522px;
	max-height: 348px;
	background: #000000;
	text-align: center;
	line-height: 348px;
}

div#content section#homepage2 div.news_slideshow div.slide_left img {
	max-width: 522px;
	max-height: 348px;
	vertical-align: middle;
}

div#content section#homepage2 div.news_slideshow div.slide_right {
	padding-left: 20px;
}

div#content section#homepage2 div.news_slideshow div.slide_right h1 a {
	font-size: 100%;
}


div#content section#homepage2 p.introtext + p {
	font-size: 16px;
    font-family: Tahoma, sans-serif;
    margin-top: 40px;
}

div#content section#homepage2 div.news_slideshow .owl-pagination {
	margin-top: -40px;
}

div#content section#homepage2 .owl_caption {
	text-align: right;
	font-style: italic;
}

div#content section#homepage2 .owl_caption a {
	color: #18090b !important;
}

div#content section#homepage2 .owl_caption a:hover {
	color: #3399ff !important;
}

div#content section#homepage2 .slide_right .text, div#content section#homepage2 .slide_right .introtext {
	margin-top: -25px;
}

div#content section#homepage2 .owl-next {
	position: absolute;
	top: 40%;
	right: 0;
}

div#content section#homepage2 .owl-prev {
	position: absolute;
	top: 40%;
	left: 0;
}

td.slideshow .owl-next {
    position: absolute;
    top: 35%;
    right: 0;
    font-size: 45px!important;
    opacity: 0.8!important;
    background : transparent!important;
}

td.slideshow .owl-prev {
    position: absolute;
    top: 35%;
    left: 0;
    font-size: 45px!important;
    opacity: 0.8!important;
    background : transparent!important;
}

div#content section#homepage2 .owl-theme .owl-controls .owl-buttons div { 
	background: transparent !important;
	color: #979696 !important;
	font-size: 50px !important;
}


/************************************************
 *
 *  map popover
 *
 ***********************************************/
div.map_popover, body.popover_description {
	max-width: 600px;
	margin: auto;
	font-family: sans-serif;
	font-size: 12px;
	color: #000;
	background-color: #fff;
	line-height: 16px;
}

div.map_popover a, body.popover_description a {
	color: #00f;
}

div.map_popover a.readmore, body.popover_description a.readmore {
	float: right;
}



/* Calendar  */

div#content div#calendar_page .fc-day-header {
	border-bottom: 1px solid #000;
	height: 25px ! important;
	line-height: 25px;
	color: #dfc090;
	background-color: #7e725e;
	font-weight: bold;
	text-align: center !important;
}

div#content div#calendar_page .fc-border-separate td {
	background-color: #dfc090;
	padding: 0 !important;
	border: 1px solid #7e725e;
}

div#content div#calendar_page .fc-state-highlight {
	border: 2px solid #7E725E !important;
}

div#content div#calendar_page .fc-state-highlight {
}

div#content div#calendar_page .fc-grid .fc-other-month {
	background-color: #cccccc !important;
}

div#content div#calendar_page .ui-page-theme-a {
	color: #800000 !important;
}

div#content div#calendar_page .fc-grid .fc-other-month .fc-day-number {
	opacity: 1 !important;
	color: #000000 !important;
}

div#content div#calendar_page .fc-widget-header {
	border: 1px solid #000000 !important;
}

div#content div#calendar_page .fc-widget-header {
	border-right: 0!important;
	border-left: 0!important;
}

div#content div#calendar_page .fc-grid .fc-day-number {
	float: left !important;
}

div#content div#calendar span.fc-event-title {
	font-size: 70%;
}

/* Calendar  */

/*  galleria  */

div#content div#galleria .galleria-thumbnails .galleria-image {
	height: 40px!important;
	min-width: 60px!important;
	max-width: 60px!important;
}

div#content div.galleria-thumbnails-container {
	top: -3px;
}

div#content div.galleria-image {
	text-align: center;
}

div#content div.galleria-image img {
	display: inline !important;
	position: static !important;
}

/*  galleria  */

/******************************** Add On Last ***********************************/

div#content div.items img, div#content div#article div.item img {
    max-width: 300px;
    width: 47%;
}

div#content section#homepage1 table > tbody > tr > td > span {
    height: 30px;
}



/******************************** Add On Last ***********************************/

/*
************ footer *******************
*/
footer div, body.footer div  {
	margin: auto;
	width: 90%;
}

footer span, body.footer span  {
	font-size: 11px;
}

footer a.ui-link, footer a.ui-link:visited,
body.footer a, body.footer a:visited {
	text-decoration: none;
	font-weight: normal;
	color: #A8AFBD;
}

footer a.ui-link:active, footer a.ui-link:hover, footer a.ui-link:focus,
body.footer a:active, body.footer a:hover, body.footer a:focus {
	color: #fff;
}



/********************* Responsive Section **************************/

@media(min-width:1200px){

    nav {
        overflow: inherit;
    }

    div#content section#homepage1 table > tbody > tr > td {
        width: 33px;
    }

    td.slideshow .owl-carousel { width: 900px!important; }

    div#content section#homepage1 table > tbody > tr > td:nth-child(4) {
        width: 0!important;
    }

    div#content section#homepage2, nav {
        width: 1200px!important;
    }
    header img {
        width: 1200px;
        height: auto;
    }
    div#content section#homepage1 td.leftmenu span {
        padding-left: 0 !important;
    }
    div#content section#homepage1 td.slideshow + td{
        width: 75px;
    }
    div#content section#homepage1 td.leftmenu {
        width: 250px!important;
        max-width: 250px!important;
    }
    div#content section#homepage1 td.slideshow {
        width: 900px;
        max-width: 900px;
        float: right;
    }

    div#content section#homepage2 {
        width: 1000px;
    }

    div#content section#homepage2>div, #container, #carousel, #carousel .slide {
        width: 1100px!important;
    }

    div#content section#homepage2 div.pollution {
        width: 100%;
    }
    div#content section#homepage2 div.pollution a img {
        width: 100%;
        height: auto;
    }
    div#content section#homepage2 div.events {
        width: 49%;
    }

	div#content section#homepage2 div.two_columns:after {
		content: "";
		position: absolute;
		left: 50%;
		top: 20px;
		bottom: 0;
		border-left: 2px dotted #885924;
	}

	div#content div.two_columns div.column_one,
	div#content div.two_columns div.column_two {
		width: 49%;
	}
	div#content div.two_columns div.column_one a img,
	div#content div.two_columns div.column_two a img {
		width: 100%;
		height: auto;
	}

    div#content div#article, div#content div#calendar_page {
        width: 1200px;
    }

    div#content div#article > div, body.article_description, body.item_description {
        width: 1050px !important;
        margin: auto;
    }

    div#content div#article div.galleria-image-nav {
        width: 100%!important;
    }

    div#content div#article div.galleria-image-nav-right, div#content div#article div.galleria-image-nav-left {
        width: 62px!important;
    }

    div#content div#article div.galleria-image-nav-right {
        right: 30px!important;
    }

    div#content div#article .galleria-info-link {
        width: 20px!important;
    }

    div#content div#article .galleria-info {
        width: 50%!important;
    }


}

@media (max-width: 1199px) and (min-width: 700px){

	div#beforefooter {
		width: auto;
	}

    div#content section#homepage1 td.slideshow {
        width: 680px;
        max-width: 680px;
        padding-top: 10px;
    }


    td.slideshow .owl-carousel, td.slideshow .owl-carousel .owl-item, td.slideshow #owl-slideshow .item img {
        width: 680px;
    }

    #calendar {
        width: 500px;
        margin: 0 auto;
    }

}

@media (max-width: 699px) and (min-width: 350px){

	div#beforefooter {
		width: auto;
	}

	div#content section#homepage1 td.slideshow {
        width: 640px;
        max-width: 640px;
        padding-top: 10px;
    }


    td.slideshow .owl-carousel, td.slideshow .owl-carousel .owl-item, td.slideshow #owl-slideshow .item img {
        width: 640px;
    }

    div#content section#homepage2 div.news_slideshow .slide_right {
        padding-left: 0;
    }

    td.slideshow .owl-carousel .owl_caption {
        text-align: center;
    }

}

@media (max-width: 349px) {

	div#beforefooter {
		width: auto;
	}

	div#content section#homepage1 td.slideshow {
        width: 320px;
        max-width: 320px;
        padding-top: 10px;
    }


    td.slideshow .owl-carousel, td.slideshow .owl-carousel .owl-item, td.slideshow #owl-slideshow .item img {
        width: 320px;
    }

    div#content section#homepage2 div.news_slideshow .slide_right {
        padding-left: 0;
    }

    td.slideshow .owl-carousel .owl_caption {
        text-align: center;
    }

    div#content section#homepage2 div.news_slideshow .slide_left img {
        max-width: 250px;
        max-height: 180px;
        vertical-align: middle;
    }

    div#content section#homepage2 div.news_slideshow .slide_left {
        height: 200px;
        max-height: 200px;
        line-height: 200px;
    }

    div#content section#homepage2 .owl-prev, div#content section#homepage2 .owl-next {
        top: 10%!important;
    }

    td.slideshow .owl-prev, td.slideshow .owl-next {
        top: 20%!important;
    }

    .pollution img {
        width: 100%;
    }

}

@media(max-width:1199px){

    nav {
        overflow: inherit;
    }

    nav ul li {
        padding: 0 5px!important;
    }

    div#content section#homepage2>div {
        width: 90%;
    }

    div#content section#homepage1 td:nth-child(1){
        display: none;
    }

    div#content section#homepage1 td.leftmenu span {
        padding-left: 20px;
    }

    div#content section#homepage1 td.leftmenu {
        width: 300px;
        padding-bottom: 20px;
    }

    div#content section#homepage2 div.news_slideshow .slide_left,
    .slide_left, div#content section#homepage2 .news_slideshow .slide_right {
        width: 100%;
        max-width: 100%
    }

    div#content section#homepage2 .owl-prev, div#content section#homepage2 .owl-next {
        top: 25%;
    }

    div#content section#homepage2 .slide_right .text, div#content section#homepage2 .slide_right .introtext {
        margin-top: 0;
    }

    div#content section#homepage2 div.news_slideshow img {
        width: 350px!important;
        height: 233px!important;
    }

    div#content section#homepage2 div.news_slideshow .owl-theme .owl-controls {
        margin-top: 0;
    }

    div#content section#homepage2 div.news_slideshow .owl-theme .owl-controls {
        margin-top: 40px!important;
    }

    div#content section#homepage2 div.pollution, div#content section#homepage2 div.events {
        display: block;
        width: 100%;
        clear: both;
    }

    div#content div#article, body.article_description, div#content div#calendar_page {
        width: 90% !important;
        padding: 20px;
    }

    div#content div#article > div, body.article_description, body.item_description {
        width: 100% !important;
        margin: auto;
    }
}

@media(max-width:999px){


    nav, div#content section#homepage1 td.leftmenu {
        display: none;
    }

    nav.menu_toggle {
        min-height: 30px;
        width: 100%;
        overflow: hidden;
        display: block;
    }

    nav.menu_toggle:hover {
        position: relative;
    }

    nav.menu_toggle ul {
        width: 100%;
        padding-left: 0;
        position: relative;
    }

    nav.menu_toggle ul:before {
        /*content: url("../images/menu-toggle-icon.png");*/
        color: white;
        float: left;
        padding-left: 10px;
    }

    nav.menu_toggle ul:hover:before {
        cursor: pointer;
    }

    nav.menu_toggle li {
        display: none;
        margin: 0;
        padding: 0!important;
        float: inherit!important;
        height: inherit!important;
    }

    nav.menu_toggle li {
        background-color: #18090b;
    }

    nav.menu_toggle a {
        display: block;
        padding: 0 0 0 10px;
        text-align: left;
    }

    /* on nav hover */

    nav.menu_toggle ul:hover li {
        display: block;
        margin: 0 0 3px 0;
    }

    nav.menu_toggle ul:hover li:last-child {
        display: none;
    }

    /* MENU */

    div#content section#homepage1 td.slideshow {
        display: block;
    }

    div#content section#homepage1 {
        width: 700px;
    }

    td.slideshow {
        margin: 0 auto;
    }

}


@media(max-width:800px){

    header img {
        width: 100%;
    }

    div#content section#homepage1 {
        width: 100%!important;
    }

    .owl-carousel {
    }


    .owl-carousel .owl-item {
    }


    #owl-demo .item img{
        display: block;
        width: 100%;
        height: auto;
    }


    div#content section#homepage1 table > tbody > tr > td > span {
        margin: 3px 0 0 0;
    }

    div#content section#homepage2, div#content section#homepage2>div, footer div {
        width: 90%!important;
    }

    div#content div.items img {
        width: 100%!important;
        height: auto;
    }

    /* INSIDE */

    div#content div#article h1, div#content div#calendar_page h1 {
        margin: 30px 0!important;
    }

    div#content div#article, div#content div#calendar_page, body div#content div#article div, div#content div#calendar_page > div  {
    }


}


@media(max-width:799px){

    div#content div.items img, div#content div#article div.item img {
        max-width: inherit!important;
    }

    #content #article div p img {
        width: 100%;
        max-width: 100%;
    }


}


@media(max-width:640px) {

    header img {
        width: 100%;
    }

    .owl-carousel {
    }


    .owl-carousel .owl-item {
    }


    #owl-demo .item img{
        display: block;
        width: 100%;
        height: auto;
    }

    div#content section#homepage1 table > tbody > tr > td > span {
        margin: 3px 0 0 0;
    }

    div#content section#homepage2, div#content section#homepage2>div, footer div {
        width: 90%!important;
    }

    div#content div.items img {
        width: 100%!important;
        height: auto;
    }





    /* INSIDE */


    div#content div#article h1, div#content div#calendar_page h1 {
        margin: 30px 0!important;
    }

    div#content div#article, div#content div#calendar_page, body div#content div#article div, div#content div#calendar_page > div  {
    }

    div#content div#article h1, div#content div#calendar_page h1 {
        font-size: 24px;
    }

    table.fc-header tbody tr td {
        display: block;
        text-align: center;
        width: 100%;
    }



}


@media(max-width:320px){

    header img {
        width: 100%;
    }

    /* MENU */

    nav {
        position: absolute;
        min-height: 40px;
        width: 100%;
        overflow: hidden;
    }

    nav:hover {
        position: relative;
    }

    nav ul {
        width: 100%;
        padding-left: 0;
        position: relative;
    }

    nav ul:before {
        content: '[ MENU ]';
        color: white;
        float: right;
        padding-right: 10px;
    }

    nav ul:hover:before {
        cursor: pointer;
    }

    nav li {
        margin: 0;
        padding: 0!important;
        float: inherit!important;
        height: inherit!important;
    }

    nav a {
        display: block;
        padding: 0 0 0 10px;
        background-color: #18090b;
        text-align: left;
    }

    nav ul:hover li {
        display: block;
        margin: 0 0 3px 0;
    }

    nav ul:hover li:last-child {
        display: none;
    }


    .news_slideshow {
    }


    div#content a {
        font-size: 14px!important;
    }

    div#content section#homepage1 td.leftmenu, div#content section#homepage1 td.slideshow {
        width: 100%!important;
        display: block!important;
    }

    .owl-carousel {
        width: 300px!important;
    }


    .owl-carousel .owl-item {
        width: 300px!important;
    }

    #owl-demo .item img{
        display: block;
        width: 100%;
        height: auto;
    }

    div#content section#homepage1 td.leftmenu span {
        padding-left: 5px;
    }

    div#content section#homepage1 table > tbody > tr > td > span {
        margin: 3px 0 0 0;
    }

    div#content section#homepage2, div#content section#homepage2>div, div#content section#homepage2 div.pollution, div#content section#homepage2 div.events,
    footer div {
        width: 90%!important;
    }

    div#content div.items img {
        width: 100%!important;
        height: auto;
    }


    /* INSIDE */

    div#content div#article h1, div#content div#calendar_page h1 {
        margin: 30px 0!important;
    }

    div#content div#article, div#content div#calendar_page, body div#content div#article div, div#content div#calendar_page > div  {
        width: 100%!important;
    }

}

